<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <base href="/" />
    <link rel="stylesheet" href="bootstrap/bootstrap.min.css" />
    <link rel="stylesheet" href="app.css" />
    <link rel="stylesheet" href="BlazorEnhanceNavLoader.styles.css" />
    <link rel="icon" type="image/png" href="favicon.png" />
    <HeadOutlet />
</head>

<body>
    <Routes />
    <div data-permanent>
        <dialog id="blazor-global-loader">
            <p>Loading...</p>
        </dialog>
    </div>

    <script src="_framework/blazor.web.js"></script>
    <script>
        const loader = document.getElementById('blazor-global-loader');
        const { fetch: originalFetch } = window;
        
        window.fetch = async (...args) => {
            const [url, options] = args;
            if (options.headers && options.headers['accept'] && options.headers['accept'].includes('blazor-enhanced-nav')) {
                // Show Loader
                console.log('Show Loader');
                loader.showModal();
            }
            return await originalFetch(...args);
        }

        Blazor.addEventListener('enhancedload', function () {
            // HideLoader
            console.log('Hide Loader');
            loader.close();
            console.log('enhancedload event fired');
        });
    </script>
</body>

</html>
